<!DOCTYPE html>
<html>
  <head>
    <title>Snake Game</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
  </head>
  <body>
    <div class="main">
      <section>
        <div class="container">
          <div class="p-5">
            <canvas id="game-canvas" width="400" height="400"></canvas>            
          </div>
        </div>        
      </section>
    </div>
  </body>
</html>
